.root{
    max-width: 740px;
    min-height: 536px;
    padding: 50px 20px 30px;
    background: #FFFFFF1A;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer{
    margin-top: auto;

    & svg{
        width: 161px;
        height: 32px;
    }
}