@import './lib/variables.scss';

:root {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(90deg, #001D6D 0%, #7C55AF 100%); */
  background: #2362C0;
  overflow: hidden;
  color: #FFF;

  @media (max-width: $small-screen){
    overflow: auto;
  }
}

h2{
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}
